.content {
  margin: 120px 0;
}

.cart-title {
  color: #15181d;
  font-size: 16px;
  font-weight: bold;
}

.border-btm {
  border-bottom: 1px solid #ececec;
}

.cart-product {
  display: flex;
  align-items: center;
}

.ds-flex {
  display: flex;
}

.cart-product__img {
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.cart-product__img > img {
  width: 100%;
}

.cart-product__name {
  color: #15181d;
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.cart-product__mobile-group {
  width: 100%;
}

.cart-product__mobile {
  margin-left: 20px;
  display: none;
}

.cart-product__mobile-price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product__mobile-text {
  color: #15181d;
  font-size: 16px;
  font-weight: 400;
}

.cart-unit-price,
.cart-total {
  color: #fe3e57;
  font-size: 16px;
}

.cart-total {
  min-width: 106px;
}

.cart-quantity {
  padding: 16px 12px;
  border: 1px solid #ececec;
  color: #ccccce;
  display: inline-block;
}

.cart-quantity__text {
  color: #33373b;
  margin: 0 24px;
}

.fa-minus,
.fa-plus {
  cursor: pointer;
  transition: all 0.25s linear;
}

.fa-minus:hover,
.fa-plus:hover {
  color: #212529;
}

.cart__remove-product {
  margin-left: 30px;
  cursor: pointer;
  width: 25px;
  height: 26px;
  display: flex;
  border-radius: 2px;
  transition: all 0.25s linear;
}

.cart__remove-product:hover {
  background-color: #fe3e57;
}

.cart__remove-product-icon {
  font-size: 16px;
  color: #9c9c9c;
  margin: auto;
}

.cart__remove-product:hover .cart__remove-product-icon {
  color: white;
}

.cart-action-group {
  border-top: 1px solid #ededed;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.cart-action {
  display: flex;
}

.cart-clear {
  margin-right: 30px;
}

.cart-clear,
.cart-update {
  padding: 20px 28px;
  border: 1px solid #ececec;
  cursor: pointer;
  transition: all 0.25s linear;
}

.cart-clear:hover,
.cart-update:hover {
  border: 1px solid #fe3e57;
}

.cart-clear > span,
.cart-update > span {
  color: #15181d;
  font-size: 16px;
  font-weight: 400;
}

.continue-shopping {
  color: white;
  font-size: 16px;
  background-color: #fe3e57;
  padding: 20px 28px;
  box-shadow: 0px 3px 10px rgb(254 62 87 / 60%);
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  float: right;
}

.continue-shopping-empty {
  color: white;
  font-size: 16px;
  background-color: #fe3e57;
  padding: 20px 28px;
  box-shadow: 0px 3px 10px rgb(254 62 87 / 60%);
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  outline: none;
}

.coupon-code,
.payment {
  padding: 40px;
  border: 1px solid #ececec;
}

.coupon-code__text,
.payment__text {
  color: #29282d;
  font-size: 22px;
  margin-bottom: 30px;
}

.coupon-code__input {
  padding: 10px 20px;
  background-color: #f6f6f6;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.coupon-code__input::placeholder {
  font-size: 16px;
  color: #8d8d8d;
}

.coupon-code__btn {
  color: white;
  font-size: 16px;
  background-color: #fe3e57;
  padding: 20px 50px;
  box-shadow: 0px 3px 10px rgb(254 62 87 / 60%);
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

.payment__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.payment__details-text {
  color: #29282d;
  font-size: 16px;
}

.payment__details-price {
  color: #fe3e57;
  font-size: 16px;
}

.payment__details-btn {
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: #fe3e57;
  padding: 20px 0;
  box-shadow: 0px 3px 10px rgb(254 62 87 / 60%);
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

/* Empty cart */
.empty-cart {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}

svg {
  max-width: 60%;
  padding: 5rem 3rem;
}
svg #oval,
svg #plus,
svg #diamond,
svg #bubble-rounded {
  animation: plopp 4s ease-out infinite;
}

/* for i in (1..16)
      &:nth-child({i})
        animation-delay -240ms * i */

svg #bg-line:nth-child(2) {
  fill-opacity: 0.3;
}

svg #bg-line:nth-child(3) {
  fill-opacity: 0.4;
}

@keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}

.empty-cart__heading {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.empty-cart__description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 24px;
  max-width: 80%;
  margin: 1.25rem auto 0 auto;
}
/* Pop up */

.pop-up {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.pop-up__mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}

.pop-up__block {
  width: 540px;
  height: 140px;
  text-align: center;
  background-color: white;
  z-index: 9999;
  border-radius: 4px;
  padding: 20px;
}

.pop-up__heading {
  color: #15181d;
  font-size: 24px;
  margin-top: 10px;
  z-index: 9998;
}

.pop-up__respond {
  display: flex;
  margin-top: 20px;
}

.pop-up__separate {
  width: 10px;
}

.pop-up__agree-btn,
.pop-up__disagree-btn {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 4px 20px;
  font-weight: 300;
  cursor: pointer;
}

.pop-up__agree-btn {
  color: white;
  background-color: #fe3e57;
  border-radius: 2px;
  transition: all 0.1s linear;
}

.pop-up__agree-btn:hover {
  background-color: #ff7486;
}

.pop-up__disagree-btn {
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  transition: all 0.1s linear;
}

.pop-up__disagree-btn:hover {
  background-color: #f4f4f4;
}
