<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="error-page__infor">
          <h2 class="error-page__heading">OPPS! Page Not Found!!</h2>
          <p class="error-page__description">
            We,re sorry but we can’t seem to find the pages you request. This
            might be because you have typed the web address not find
            incorrectly.
          </p>
          <button class="error-page__button" routerLink="/home">
            BACK TO HOME
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12">
            <div class="error-page__img">
              <img
                src="../../assets/img/error-page.png"
                alt=""
                style="width: 100%"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="error-page__responsive-infor">
              <h2 class="error-page__responsive-heading">
                OPPS! Page Not Found!!
              </h2>
              <p class="error-page__responsive-description">
                We,re sorry but we can’t seem to find the pages you request.
                This might be because you have typed the web address not find
                incorrectly.
              </p>
              <button class="error-page__responsive-button" routerLink="/home">
                BACK TO HOME
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
