<div class="row">
  <div class="col-12">
    <p-toast></p-toast>
    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="openNew()"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-danger delete-selected-products"
            (click)="deleteSelectedProducts()"
            [disabled]="!selectedProducts || !selectedProducts.length"
          ></button>
        </ng-template>

        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #productTable
        [value]="products"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="[
          'name',
          'country.name',
          'representative.name',
          'status'
        ]"
        responsiveLayout="scroll"
        [(selection)]="selectedProducts"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="management-product">
            <h5 class="management-product__text">Manage Products</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Search by name..."
                (input)="handleFilterBlobal($event)"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Image</th>
            <th pSortableColumn="priceOut">
              Price <p-sortIcon field="priceOut"></p-sortIcon>
            </th>
            <th pSortableColumn="categoryDto.name">
              Category <p-sortIcon field="categoryDto.name"></p-sortIcon>
            </th>
            <th pSortableColumn="rating">
              Reviews <p-sortIcon field="rating"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus">
              Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr class="product-item">
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td class="product-item__name">{{ product.name }}</td>
            <td>
              <img
                [src]="
                  'https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/' +
                  product.urlImage
                "
                [alt]="product.name"
                width="100"
                class="product-item__img"
              />
            </td>
            <td class="product-item__price">
              {{ product.priceOut | currency: "VND" }}
            </td>
            <td class="product-item__category">
              {{ product.categoryDto!.name }}
            </td>
            <td>
              <p-rating
                [ngModel]="product.rating"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </td>
            <td>
              <span
                [class]="
                  'product-badge status-' +
                  (product.inventoryStatus
                    ? product.inventoryStatus.toLowerCase()
                    : '')
                "
                >{{ product.inventoryStatus }}</span
              >
            </td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success product-item__edit"
                (click)="openEditProductDialog(product)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning product-item__delete"
                (click)="deleteProduct(product)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ products ? products.length : 0 }} products.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="productDialog"
      [style]="{ width: '80vw' }"
      header="Product Details"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <div class="product-image-list">
            <img
              *ngFor="let imgPath of product.subImage"
              class="product-image"
              [src]="
                'https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/' +
                imgPath
              "
            />
          </div>
        </div>
        <div class="field">
          <label for="name">Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="product.name"
            required
            autofocus
            autocomplete="off"
          />
          <small class="p-error" *ngIf="submitted && !product.name"
            >Name is required.</small
          >
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea
            id="description"
            pInputTextarea
            [(ngModel)]="product.description"
            required
            rows="3"
            cols="20"
          ></textarea>
        </div>
        <div class="field" *ngIf="!product.urlImage">
          <label for="name">Product Image</label>
          <p-fileUpload
            name="demo[]"
            (onUpload)="onUpload($event)"
            [multiple]="true"
            accept="image/*"
            [maxFileSize]="1000000"
            url="./upload.php"
          >
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
        <div class="field">
          <label for="inventoryStatus">Inventory Status</label>
          <p-dropdown
            [(ngModel)]="product.inventoryStatus"
            inputId="inventoryStatus"
            placeholder="Select"
            [options]="statuses"
          >
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge status-' + option.value">
                {{ option.label }}
              </span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="field">
          <label class="mb-3">Category</label>
          <div class="formgrid grid">
            <div class="field-radiobutton col-3">
              <p-radioButton
                id="category1"
                value="Bag"
                [(ngModel)]="product.categoryDto!.name"
              ></p-radioButton>
              <label for="category1">Bag</label>
            </div>
            <div class="field-radiobutton col-3">
              <p-radioButton
                id="category2"
                value="Shirt"
                [(ngModel)]="product.categoryDto!.name"
              ></p-radioButton>
              <label for="category2">Shirt</label>
            </div>
            <div class="field-radiobutton col-3">
              <p-radioButton
                id="category3"
                value="Pant"
                [(ngModel)]="product.categoryDto!.name"
              ></p-radioButton>
              <label for="category3">Pant</label>
            </div>
            <div class="field-radiobutton col-3">
              <p-radioButton
                id="category4"
                value="Accessory"
                [(ngModel)]="product.categoryDto!.name"
              ></p-radioButton>
              <label for="category4">Accessory</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label for="name">Rating</label>
          <p-rating [(ngModel)]="product.rating" [cancel]="false"></p-rating>
        </div>
        <div class="formgrid grid">
          <div class="field col-sm-6">
            <div class="product-item__price">
              <label for="priceOut">Price</label>
              <p-inputNumber
                id="priceOut"
                [(ngModel)]="product.priceOut"
                mode="currency"
                currency="VND"
                locale="en-US"
              ></p-inputNumber>
            </div>
          </div>
          <div class="field col-sm-6">
            <div class="product-item__quantity">
              <label for="quantity">Quantity</label>
              <p-inputNumber
                id="quantity"
                [(ngModel)]="product.quantity"
              ></p-inputNumber>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveProduct()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
</div>
