<div class="row">
  <div class="col-12">
    <p-toast></p-toast>
    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="handleOpenAddProductDialog()"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-danger delete-selected-products"
            (click)="deleteSelectedProducts()"
            [disabled]="!selectedProducts || !selectedProducts.length"
          ></button>
        </ng-template>

        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #productTable
        [value]="products"
        [rows]="10"
        [globalFilterFields]="[
          'name',
          'country.name',
          'representative.name',
          'status'
        ]"
        responsiveLayout="scroll"
        [(selection)]="selectedProducts"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="management-product">
            <h5 class="management-product__text">Manage Products</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Search by name..."
                (input)="handleFilterBlobal($event)"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Image</th>
            <th pSortableColumn="priceOut">
              Price <p-sortIcon field="priceOut"></p-sortIcon>
            </th>
            <th pSortableColumn="categoryDto.name">
              Category <p-sortIcon field="categoryDto.name"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus">
              Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr class="product-item">
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td class="product-item__name">{{ product.name }}</td>
            <td>
              <img
                [src]="product.thumbnail[0].urlImages[0]"
                [alt]="product.name"
                width="100"
                class="product-item__img"
              />
            </td>
            <td class="product-item__price">
              {{ product.price | currency: "VND" }}
            </td>
            <td
              class="product-item__category"
              style="text-transform: capitalize"
            >
              {{ product.category.name }}
            </td>
            <td>
              <span [class]="'product-badge status-' + 'instock'">{{
                "INSTOCK"
              }}</span>
            </td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success product-item__edit"
                (click)="handleOpenEditProductDialog(product)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning product-item__delete"
                (click)="deleteProduct(product)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ products ? products.length : 0 }} products.
          </div>
        </ng-template>
      </p-table>
      <p-paginator
        [rows]="6"
        [totalRecords]="totalProducts"
        (onPageChange)="paginate($event)"
      ></p-paginator>
    </div>

    <p-dialog
      [(visible)]="productDialog"
      [style]="{ width: '80vw' }"
      header="Product Details"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="row" *ngIf="productImg.length">
          <div class="col-12">
            <div class="flex overflow-x-scroll">
              <div class="product-image-list">
                <img
                  *ngFor="let imgPath of productImg"
                  class="product-image"
                  [src]="imgPath"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label-text" for="name">Mã sản phẩm</label>
            <input
              type="text"
              pInputText
              id="id"
              required
              autofocus
              autocomplete="off"
              [ngModel]="product.id"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label-text" for="name">Name</label>
            <input
              type="text"
              pInputText
              id="name"
              required
              autocomplete="off"
              [ngModel]="product.name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label-text" for="name">Product Image</label>
            <p-fileUpload
              name="demo[]"
              (onUpload)="onUpload($event)"
              [multiple]="true"
              accept="image/*"
              [maxFileSize]="1000000"
              url="./upload.php"
            >
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                  </li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label class="label-text mb-3">Category</label>
            <!-- <div class="formgrid grid">
            <ng-container *ngFor="let category of categories">
              <div class="field-radiobutton col-3">
                <mat-radio-group name="categories">
                  <mat-radio-button color="primary" [value]="category.name">
                    {{ category.name }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-container>
          </div> -->
            <!-- <p-treeSelect  [options]="nodes1" placeholder="Select Item"></p-treeSelect> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ng-container *ngFor="let item of detailRow">
              <div class="row">
                <div class="col-4">
                  <label class="label-text">Colors</label>
                  <p-dropdown
                    placeholder="Select color"
                    [options]="colors"
                    optionLabel="colorName"
                    [(ngModel)]="item.color"
                  >
                    <ng-template let-color pTemplate="item">
                      <span>
                        {{ color.colorName }}
                      </span>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div class="col-4">
                  <label class="label-text">Sizes</label>
                  <p-dropdown
                    placeholder="Select size"
                    [options]="sizes"
                    optionLabel="name"
                    [(ngModel)]="item.size"
                  >
                    <ng-template let-size pTemplate="item">
                      <span>
                        {{ size.name }}
                      </span>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div class="col-3">
                  <div class="product-item__quantity">
                    <label class="label-text" for="quantity">Quantity</label>
                    <p-inputNumber
                      id="quantity"
                      [(ngModel)]="item.quantity"
                    ></p-inputNumber>
                  </div>
                </div>
                <div class="col-1">
                  <div class="times">
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-secondary"
                      (click)="handleDeleteColorAndSize(item)"
                    ></button>
                  </div>
                </div>
              </div>
            </ng-container>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded p-button-secondary"
              style="color: #333"
              (click)="handleAddColorAndSize()"
            ></button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label-text" for="description">Description</label>
            <textarea
              id="description"
              pInputTextarea
              required
              rows="3"
              cols="20"
              [ngModel]="product.description"
            ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="product-item__price">
              <label class="label-text" for="priceOut">Price</label>
              <p-inputNumber
                id="priceOut"
                mode="currency"
                currency="VND"
                locale="en-US"
              ></p-inputNumber>
            </div>
          </div>
          <div class="col-6">
            <div class="product-item__price">
              <label class="label-text" for="priceOut">Discount</label>
              <p-inputNumber
                id="priceOut"
                mode="currency"
                currency="VND"
                locale="en-US"
              ></p-inputNumber>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="handleCloseDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="handleLog()"
        ></button>
        <!-- (click)="saveProduct()" -->
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
</div>
