:host ::ng-deep {
  .p-galleria-thumbnail-items-container {
    flex: 1;
  }
  .img-item {
    padding: 0 20px;
  }
  .img-thumbnail {
    width: 120px;
  }
  .p-galleria .p-galleria-thumbnail-container {
    padding: 0;
  }
  .p-galleria .p-galleria-thumbnail-container {
    background: transparent;
  }
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
    color: white;
    background: black;
  }
  #pr_id_1 .p-galleria-thumbnail-item {
    flex: unset;
  }
  .p-galleria-thumbnails-left .p-galleria-thumbnail-items {
    justify-content: space-between;
  }
  .p-galleria-item-prev-icon,
  .p-galleria-item-next-icon {
    color: #a7a7a7;
  }
  .p-link:focus,
  .p-rating .p-rating-icon:focus {
    box-shadow: none;
  }
  .p-rating .p-rating-icon.pi-star-fill {
    color: #ffc35b;
  }
  .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: #ffc35b;
  }
  .p-inputtext {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
  }
}
.product {
  margin: 120px 0;
}
.review {
  margin-bottom: 120px;
  &-item {
    margin-bottom: 30px;
  }
}

.product-info {
  &__name {
    color: #29282d;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__title {
    color: #29282d;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &-text {
      color: #29282d;
      font-size: 18px;
      font-weight: 300;
    }
    &-rating {
      display: flex;
      column-gap: 10px;
      color: #29282d;
      font-size: 16px;
      margin-left: 10px;
    }
  }
  &__description {
    &-text {
      font-size: 16px;
      color: #8d8d8d;
    }
  }
  &__color {
    margin-bottom: 20px;
  }
  &__size {
    margin-bottom: 20px;
  }
  &__category {
    &-detail {
      color: #8d8d8d;
      font-size: 16px;
    }
  }
  &__group {
    display: flex;
    column-gap: 20px;
  }
  &__item {
    padding: 4px 10px;
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
  }
}
.product-add-btn {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  background-color: #fe3e57;
  padding: 20px 40px;
  box-shadow: 0 3px 10px #fe3e5799;
  border: none;
  cursor: pointer;
  outline: none;
}

.reviewer {
  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
  &__human {
    display: flex;
    align-items: center;
  }
  &__name {
    color: #292929;
    font-size: 16px;
    margin-bottom: 4px;
    padding-right: 16px;
    border-right: 1px solid #8d8d8d;
    line-height: 14px;
  }
  &__time {
    color: #8d8d8d;
    font-size: 16px;
    padding-left: 16px;
    line-height: 14px;
  }
  &__mail {
    color: #5e5e5e;
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
  }
  &__comment {
    color: #8d8d8d;
    font-size: 16px;
    margin: 16px 0;
  }
  &__reply {
    display: flex;
    column-gap: 20px;
    align-items: center;
    color: #8d8d8d;
    & > span {
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.my-review {
  margin-top: 40px;
  &__heading {
    color: #29282d;
    font-size: 22px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    &:after {
      width: 50px;
      height: 3px;
      background-color: #fe3e57;
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
    }
  }
  &__rating {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 30px;
    &-text {
      margin: 0;
    }
  }
  &__btn {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    background-color: #fe3e57;
    border: none;
    padding: 14px 36px;
    box-shadow: 0 3px 10px #fe3e5799;
    cursor: pointer;
    // margin: 0px 0 60px;
    outline: none;
  }
}
.label-input-text {
  margin-left: 20px;
}
