<div class="container">
  <div class="product">
    <div class="row">
      <div class="col-md-8">
        <p-galleria
          [showItemNavigators]="true"
          [showThumbnailNavigators]="false"
          [responsiveOptions]="responsiveOptions"
          [value]="thumbnailImgList"
          thumbnailsPosition="left"
          [numVisible]="4"
          [containerStyle]="{ 'max-width': '100%' }"
          [circular]="true"
          [autoPlay]="true"
          [transitionInterval]="2000"
          [showThumbnails]="false"
        >
          <ng-template pTemplate="item" let-item>
            <img
              class="img-item"
              [src]="item"
              alt="img"
              style="width: 100%; display: block"
            />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
              <img class="img-thumbnail" [src]="item" alt="img" />
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <div class="col-md-4">
        <form class="product-info" [formGroup]="productInfo">
          <h3 class="product-info__name">{{ product.name }}</h3>
          <div class="product-info__cost">
            <span class="product-info__cost-text">{{
              product.priceOut | currency: "VND"
            }}</span>
            <div class="product-info__cost-rating">
              <p-rating
                [readonly]="true"
                [stars]="5"
                [cancel]="false"
              ></p-rating>
              ({{ 24 }})
            </div>
          </div>
          <div class="product-info__description">
            <h3 class="product-info__title">Description:</h3>
            <p class="product-info__description-text">
              {{ product.description }}
            </p>
          </div>
          <div class="product-info__color">
            <h3 class="product-info__title">Color</h3>
            <div class="product-info__group">
              <div class="field-color-checkbox">
                <ng-container *ngFor="let item of product.colors">
                  <ng-container *ngFor="let s of item.sizes">
                    <mat-radio-group formControlName="colorNSize" name="colors">
                      <mat-radio-button
                        [value]="{ colorId: item.color.id, sizeId: s.size.id }"
                      >
                        {{ item.color.colorName }} ({{ s.size.name }})
                      </mat-radio-button>
                    </mat-radio-group>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="product-info__category">
            <div class="row">
              <div class="col-4">
                <h3 class="product-info__title">Category:</h3>
              </div>
              <div class="col-8">
                <h3 class="product-info__category-detail">
                  {{ product.category?.name }}
                </h3>
              </div>
            </div>
          </div>
          <button (click)="handleAddProduct()" class="product-add-btn">
            Add to cart
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="review">
    <div class="review-item" *ngFor="let feedback of feedbackList">
      <div class="row">
        <div class="col-1">
          <img
            alt="avatar"
            class="reviewer__avatar"
            [src]="'https://picsum.photos/300/300'"
          />
        </div>
        <div class="col-11">
          <div class="reviewer__human">
            <h3 class="reviewer__name">{{ feedback.username }}</h3>
            <span class="reviewer__time">
              {{ feedback.createdAt || getRandomTime() | date: "medium" }}
            </span>
          </div>
          <span class="reviewer__mail">{{ feedback.email }}</span>
          <p-rating
            [readonly]="true"
            [stars]="5"
            [cancel]="false"
            [ngModel]="feedback.vote"
          ></p-rating>
          <p class="reviewer__comment">{{ feedback.message }}</p>
          <div class="reviewer__reply">
            <i class="pi pi-reply"></i>
            <span>Reply</span>
          </div>
        </div>
      </div>
    </div>
    <form
      [formGroup]="formFeedback"
      (ngSubmit)="handleAddReview()"
      class="my-review"
    >
      <div class="row">
        <div class="col-md-12">
          <h3 class="my-review__heading">Adding your review</h3>
          <div class="my-review__rating">
            <h3 class="my-review__rating-text">Your Rating</h3>
            <p-rating
              [ngModel]="4"
              [stars]="5"
              [cancel]="false"
              formControlName="vote"
            ></p-rating>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              placeholder="Username"
              autocomplete="off"
              formControlName="username"
            />
          </span>
        </div>
        <div class="col-md-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              placeholder="E-mail address"
              autocomplete="off"
              formControlName="email"
            />
          </span>
        </div>
        <div class="col-md-12">
          <span class="p-float-label">
            <textarea
              inputId="textarea"
              rows="3"
              style="resize: none"
              cols="30"
              pInputTextarea
              placeholder="Describe yourself here..."
              autocomplete="off"
              formControlName="message"
            ></textarea>
          </span>
        </div>
        <div class="col-md-12">
          <button type="submit" class="my-review__btn">Leave review</button>
        </div>
      </div>
    </form>
  </div>
</div>
