<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="./assets/img/logo.png" alt="" class="footer__logo" />
        <ul class="footer__list">
          <li class="footer__item">
            <h3>No. 342 - London Oxford Street,</h3>
          </li>
          <li class="footer__item">
            <h3>012 United States</h3>
          </li>
          <li class="footer__item">
            <h3>Youremail@gmail.com</h3>
          </li>
          <li class="footer__item">
            <h3>+0283 838 8393</h3>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <h3 class="footer__heading">Useful Links</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <h3>About Us</h3>
          </li>
          <li class="footer__item">
            <h3>Privacy Policy</h3>
          </li>
          <li class="footer__item">
            <h3>Terms & Conditions</h3>
          </li>
          <li class="footer__item">
            <h3>Contact Us</h3>
          </li>
          <li class="footer__item">
            <h3>Help & Support</h3>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <h3 class="footer__heading">My Account</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <h3>My Account</h3>
          </li>
          <li routerLink="/cart" class="footer__item">
            <h3>My Cart</h3>
          </li>
          <li class="footer__item">
            <h3>My Wishlist</h3>
          </li>
          <li class="footer__item">
            <h3>Registrations</h3>
          </li>
          <li class="footer__item">
            <h3>Check Out</h3>
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h3 class="footer__heading">Subscribe Our Newsletter</h3>
        <p class="footer__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida.
        </p>
        <div class="footer__input">
          <input type="text" placeholder="Your email address" />
          <button>SUBCRIBE</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer__payment">
          <h3>© 2019 CodeAstrology. All Rights Reserved.</h3>
          <img src="../../assets/img/payment.png" />
        </div>
      </div>
    </div>
  </div>
</footer>
