/* Footer CSS */
.footer {
  background-color: #f6f6f6;
  padding-top: 120px;
}
.footer__logo {
  margin-bottom: 30px;
}

.footer__heading {
  color: #29282d;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__item > h3 {
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.footer__item > h3:hover {
  color: #fe3e57;
  font-weight: 400;
}

.footer__paragraph {
  color: #8d8d8d;
  font-size: 16px;
}

.footer__input > input {
  width: 280px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: white;
  box-shadow: 0px 3px 10px #00000022;
  padding: 10px 20px;
}

.footer__input > button {
  padding: 10px 24px;
  border: none;
  background-color: #fe3e57;
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  box-shadow: 0px 3px 10px rgb(254 62 87 / 50%);
  cursor: pointer;
  outline: none;
}

.footer__payment {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid #ececec;
}

.footer__payment > h3 {
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 300;
}
