<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-text">
          <h2 class="banner-text__heading">New Season</h2>
          <h2 class="banner-text__heading">New Brand Collection</h2>
          <p class="banner-text__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et
            dolore magna aliqua. Ipsum.
          </p>
          <button class="banner-text__button" routerLink="/shop">
            BUY NOW
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-img">
          <div>
            <img
              src="./assets/img/banner-1.jpeg"
              class="banner-img__slide banner-img__slide--active"
            />
            <img src="./assets/img/banner-2.jpeg" class="banner-img__slide" />
            <img src="./assets/img/banner-3.jpeg" class="banner-img__slide" />
            <img src="./assets/img/banner-4.jpeg" class="banner-img__slide" />
          </div>
          <div class="slide-prev"></div>
          <div class="slide-next"></div>
        </div>
      </div>
      <ul class="banner-position-list">
        <li
          #positionItem
          class="banner-position-item banner-position-item--active"
        >
          .
        </li>
        <li #positionItem class="banner-position-item">.</li>
        <li #positionItem class="banner-position-item">.</li>
        <li #positionItem class="banner-position-item">.</li>
      </ul>
    </div>
  </div>
</div>

<div data-aos="fade-up" data-aos-duration="1000" class="benefit">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="benefit__block">
          <div class="benefit__block-icon">
            <i class="fas fa-truck-moving"></i>
          </div>
          <h3 class="benefit__block-heading">Free Shipping Order 100$</h3>
          <div class="benefit__block-description">
            Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
          </div>
        </div>
      </div>
      <div class="col-lg-4 mtb-60-mobile">
        <div class="benefit__block">
          <div class="benefit__block-icon" style="background-color: #34c4ff">
            <i class="fas fa-calendar-day"></i>
          </div>
          <h3 class="benefit__block-heading">30 Days Easy Return</h3>
          <div class="benefit__block-description">
            Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="benefit__block">
          <div class="benefit__block-icon" style="background-color: #fe3e57">
            <i class="fas fa-headset"></i>
          </div>
          <h3 class="benefit__block-heading">24/7 Customer Support</h3>
          <div class="benefit__block-description">
            Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-aos="fade-up" data-aos-duration="1000" class="top-categories">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-categories__header">
          <h2 class="top-categoriest__title">TOP CATEGORIES</h2>
          <p class="top-categoriest__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmo tempor ut labore et dolore aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="top-categories__details" routerLink="/shop">
          <img
            src="../../assets/img/home-thumbnail-1.jpeg"
            alt=""
            class="top-categories__details-img"
          />
          <div class="top-categories__details-group">
            <h3 class="top-categories__details-title" style="color: #5800e4">
              Up To 40% Off
            </h3>
            <h3 class="top-categories__details-cate">Shoes & Jewellry</h3>
            <p class="top-categories__details-more">EXPLORE MORE</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="top-categories__details" routerLink="/shop">
          <img
            src="../../assets/img/home-thumbnail-2.jpeg"
            alt=""
            class="top-categories__details-img"
          />
          <div class="top-categories__details-group">
            <h3 class="top-categories__details-title" style="color: #608300">
              New Arrival
            </h3>
            <h3 class="top-categories__details-cate">Clothes & Accessories</h3>
            <p class="top-categories__details-more">EXPLORE MORE</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="top-categories__details" routerLink="/shop">
          <img
            src="../../assets/img/home-thumbnail-3.jpeg"
            alt=""
            class="top-categories__details-img"
          />
          <div class="top-categories__details-group">
            <h3 class="top-categories__details-title" style="color: #ffb534">
              Trending Now
            </h3>
            <h3 class="top-categories__details-cate">Men’s Fashion</h3>
            <p class="top-categories__details-more">EXPLORE MORE</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="top-categories__details" routerLink="/shop">
          <img
            src="../../assets/img/home-thumbnail-4.jpeg"
            alt=""
            class="top-categories__details-img"
          />
          <div class="top-categories__details-group">
            <h3 class="top-categories__details-title" style="color: #34c3ff">
              Hot Collection
            </h3>
            <h3 class="top-categories__details-cate">Girl’s Fashion</h3>
            <p class="top-categories__details-more">EXPLORE MORE</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-8">
              <div class="row mb-30">
                  <div class="col-lg-12">
                      <div class="top-categories__details" style="height: 303px">
                          <h3 class="top-categories__details-title" style="color: #fe3e57">New Arrival</h3>
                          <h3 class="top-categories__details-cate">Clothes & Accessories</h3>
                          <p class="top-categories__details-more">EXPLORE MORE</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 mb-30">
                      <div class="top-categories__details" style="height: 303px">
                          <h3 class="top-categories__details-title" style="color: #ffb534">Trending Now</h3>
                          <h3 class="top-categories__details-cate">Men’s Fashion</h3>
                          <p class="top-categories__details-more">EXPLORE MORE</p>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="top-categories__details" style="height: 303px">
                          <h3 class="top-categories__details-title" style="color: #34c3ff">Hot Collection</h3>
                          <h3 class="top-categories__details-cate">Girl’s Fashion</h3>
                          <p class="top-categories__details-more">EXPLORE MORE</p>
                      </div>
                  </div>
              </div>
          </div> -->
    </div>
  </div>
</div>

<div data-aos="fade-up" data-aos-duration="1000" class="trending-fashion">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-120 pt-30-mobile tx-alg-c">
        <div class="trending-fashion__video-block">
          <iframe
            width="480"
            height="480"
            src="https://www.youtube.com/embed/AXOfw9x-hVw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <img
            src="./assets/img/play-btn.png"
            alt=""
            class="trending-fashion__play-btn"
          />
        </div>
      </div>
      <div class="col-lg-6 pt-80 pt-20-mobile tx-alg-c">
        <h4 class="trending-fashion__title">Winter Collection 20% Off</h4>
        <h3 class="trending-fashion__heading">TRENDING FASHION</h3>
        <p class="trending-fashion__description">
          Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod
          temp incididunt ut labore et dolore magna aliqua consectetur
          adipiscing elit, sedu do eiusmod temp indidunt ut labore et dolore
          magna aliqua.
        </p>
        <button class="trending-fashion__description-button">VIEW NOW</button>
      </div>
    </div>
  </div>
</div>

<div data-aos="fade-up" data-aos-duration="1000" class="trending-product">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="trending-product__header">
          <h2 class="trending-product__title">TRENDING PRODUCTS</h2>
          <p class="trending-product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmo tempor ut labore et dolore aliqua.
          </p>
        </div>
      </div>
    </div>
    <!-- Trending products  -->
    <div class="row">
      <div class="col-12">
        <p-carousel
          [value]="products"
          styleClass="custom-carousel"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          [autoplayInterval]="3000"
          [responsiveOptions]="responsiveOptions"
          [showIndicators]="false"
        >
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="mb-3" [routerLink]="['/product', product.id]">
                  <img
                    [src]="
                      'https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/' +
                      product.urlImage
                    "
                    [alt]="product.name"
                    width="100"
                    class="product-image"
                  />
                </div>
                <div>
                  <h4 class="mb-1 px-2 product-item-name">
                    {{ product.name }}
                  </h4>
                  <h4 class="mt-0 mb-3">
                    {{ product.priceOut | currency: "VND" }}
                  </h4>
                  <span
                    [class]="
                      'product-badge status-' +
                      product.inventoryStatus.toLowerCase()
                    "
                    >{{ product.inventoryStatus }}</span
                  >
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>

<div data-aos="fade-up" data-aos-duration="1000" class="deal">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="deal__block">
          <h3 class="deal__title">STYLE FASHION</h3>
          <h2 class="deal__heading">DEAL OF THE DAY</h2>
          <div class="deal__time">
            <div class="deal__time-block">
              <h3 class="deal__time-number">10</h3>
              <h3 class="deal__time-text">Days</h3>
            </div>
            <div class="deal__time-block">
              <h3 class="deal__time-number">08</h3>
              <h3 class="deal__time-text">Hours</h3>
            </div>
            <div class="deal__time-block">
              <h3 class="deal__time-number">11</h3>
              <h3 class="deal__time-text">Miniutes</h3>
            </div>
            <div class="deal__time-block">
              <h3 class="deal__time-number">39</h3>
              <h3 class="deal__time-text">Seconds</h3>
            </div>
          </div>
          <button routerLink="/shop" class="deal__button">SHOP NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-aos="fade-up" data-aos-duration="1000" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="blog__header">
          <h2 class="blog__title">FROM OUR BLOG</h2>
          <p class="blog__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmo tempor ut labore et dolore aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="blog__block">
          <img src="./assets/img/blog-img-1.jpeg" alt="" class="blog__img" />
          <div class="blog__info">
            <div class="blog__details">
              <div class="blog__author">
                <i class="far fa-user"></i>
                <h3>By Admin</h3>
              </div>
              <div class="blog__time">
                <i class="far fa-clock"></i>
                <h3>10 January, 2020</h3>
              </div>
            </div>
            <h3 class="blog__heading">
              Our Apps User Use Mobile On His Mobile
            </h3>
            <div class="blog__more">
              <h3>Read More</h3>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog__block">
          <img src="./assets/img/blog-img-2.jpeg" alt="" class="blog__img" />
          <div class="blog__info">
            <div class="blog__details">
              <div class="blog__author">
                <i class="far fa-user"></i>
                <h3>By Admin</h3>
              </div>
              <div class="blog__time">
                <i class="far fa-clock"></i>
                <h3>10 January, 2020</h3>
              </div>
            </div>
            <h3 class="blog__heading">
              Our Apps User Use Mobile On His Mobile
            </h3>
            <div class="blog__more">
              <h3>Read More</h3>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog__block">
          <img src="./assets/img/blog-img-3.jpeg" alt="" class="blog__img" />
          <div class="blog__info">
            <div class="blog__details">
              <div class="blog__author">
                <i class="far fa-user"></i>
                <h3>By Admin</h3>
              </div>
              <div class="blog__time">
                <i class="far fa-clock"></i>
                <h3>10 January, 2020</h3>
              </div>
            </div>
            <h3 class="blog__heading">
              Our Apps User Use Mobile On His Mobile
            </h3>
            <div class="blog__more">
              <h3>Read More</h3>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
