<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single_quick_activity">
          <h4>Total Income</h4>
          <h3>$ <span class="counter">579,000</span></h3>
          <p>Saved 25%</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single_quick_activity" style="background-color: #63c7ff">
          <h4>Total Expences</h4>
          <h3>$ <span class="counter">79,000</span></h3>
          <p>Saved 25%</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single_quick_activity" style="background-color: #a66dd4">
          <h4>Cash on Hand</h4>
          <h3>$ <span class="counter">92,000</span></h3>
          <p>Saved 25%</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single_quick_activity" style="background-color: #6dd4b1">
          <h4>Net Profit Margin</h4>
          <h3>$ <span class="counter">179,000</span></h3>
          <p>Saved 65%</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="bar-chart">
      <p-chart
        type="bar"
        [data]="basicData"
        [options]="basicOptions"
        height="400"
      ></p-chart>
      <!-- width="300" -->
    </div>
  </div>
  <div class="col-lg-6">
    <div class="pie-chart">
      <p-chart
        type="pie"
        [data]="data"
        [options]="chartOptions"
        [style]="{ width: '40%' }"
        height="400"
      ></p-chart>
    </div>
  </div>
</div>
