.content {
  margin: 120px 0;
}

.contact-information__title,
.your-order__title,
.payment-method__title {
  color: #29282d;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-information,
.your-order,
.payment-method {
  padding: 40px;
  border: 1px solid #ececec;
  width: 100%;
}

.contact-information__block {
  margin-bottom: 33px;
}

.contact-information__heading {
  font-size: 16px;
  font-weight: 300;
  color: #8d8d8d;
}

.contact-information__input {
  background-color: #f6f6f6;
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.contact-information__input::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: #8d8d8d;
}

.your-order__block {
  padding: 20px 0;
  border-top: 1px solid #ececec;
}

.your-order__heading {
  color: #29282d;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  font-weight: 450;
}

.your-order__product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.your-order__product-name {
  max-width: 150px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.your-order__product-name,
.your-order__product-price {
  font-size: 16px;
  color: #8d8d8d;
  font-weight: 300;
}

.payment-method__block {
  padding: 30px 0;
  border-top: 1px solid #ececec;
}

.payment-method__text {
  color: #29282d;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  padding-left: 36px;
  font-weight: 500;
}

.payment-method__text::before {
  width: 16px;
  height: 16px;
  border: 2px solid #fe3e57;
  position: absolute;
  content: "";
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.payment-method__text::after {
  width: 8px;
  height: 8px;
  background-color: #fe3e57;
  position: absolute;
  content: "";
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear;
}

#check-payment:checked ~ .payment-method__text::after {
  opacity: 1;
  visibility: visible;
}

#paypal:checked ~ .payment-method__text::after {
  opacity: 1;
  visibility: visible;
}

.payment-method__description {
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}

.payment-method__btn {
  color: white;
  font-size: 16px;
  background-color: #fe3e57;
  padding: 20px 50px;
  box-shadow: 0px 3px 10px rgb(254 62 87 / 60%);
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
  width: 100%;
}

:host ::ng-deep {
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple {
    background-color: transparent;
  }
}
